<!-- Include head and header partials here -->
<%- include('partials/head.ejs', {title: 'Fact'}) %>
<%- include('partials/header.ejs') %>

<!-- Create a div that displays all the fact data (fact, length) using the ID provided in the URL. 
    This data should come from the server.js files that will fetch the required data from MongoDB -->
    <div>
        <h1>Fact Information</h1>
        <p><strong>Fact:</strong> <%= facts.fact %></p>
        <p><strong>Length:</strong> <%= facts.length %></p>
    </div>


<!-- Include foot and footer partials here -->
<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>
```