<!-- Include head and header partials here -->
<%- include('partials/head.ejs', {title: Home}) %>
<%- include('partials/header.ejs') %>
<!-- Create a div that displays a random breed image and random fact using data being received from the server.js file -->

<div>
    <img src="<%= randomBreed.image %>" alt="<%= randomBreed.breed %> Image">
    <p><strong>Random Fact:</strong> <%= randomFact.fact %></p>
</div>


<!-- Include foot and footer partials here -->
<%- foot('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>