<%- include('partials/head.ejs', {title:"Dash Board", style: style}) %>
<%- include('partials/header.ejs') %>


<div class="container">
    <div class="sidebar">
        <img src="<%= user.url %>" alt="<%= user.firstname + ' ' + user.lastname %>" class="profile-image">
        <p>Name: <%= user.firstname + ' ' + user.lastname %></span>
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Password: <%= user.password %></p>
        <button class="bn2">
            <a href="/updateProfile">
                <span class="title">Edit</span>
            </a>
        </button>

        <button class="bn2" onclick="confirmDelete()">
            <a href="/deleteProfile">
                <span class="title">Delete</span>
            </a>
        </button>
        <button class="bn2">
            <a href="/logout" id="signOutButton">
                <span class="title" action="/logout">Sign out</span>
            </a>
        </button>
        

    </div>

    <div class="portfolio">
        <h1>Welcome, <%= user.username.toUpperCase() %>!</h1>
        <% if (articles && articles.length > 0) { %>
            <h2>This Is Your Articles</h2>
            <% articles.forEach(article => { %>
                <div class="coin_portfolio">
                    <h2>Title<%= article.title %></h2>
                    <p><%= article.content %></p>
                    <div class="bnt">
                        <a href="/updateArticles/<%= article._id %>">
                            <button class="bn1">Edit</button>
                        </a>
                        <a href="/deleteArticle/<%= article._id %>">
                            <button class="bn1">Delete</button>
                        </a>
                    </div>
                   
                </div>
            <% }); %>
        <% } else { %>
            <p>No articles found.</p>
        <% } %>
    </div>
</div>
    


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let listItems = document.querySelectorAll('.sidebar ul li');

        function setActiveLink() {
            listItems.forEach((item) => item.classList.remove('focused'));
            this.classList.add('focused');
        }

        listItems.forEach((item) => {
            item.addEventListener('mousedown', setActiveLink);
       
         });
    });

    const logoutButton = document.getElementById('signOutButton');
    if (logoutButton) {
        logoutButton.addEventListener('click', () => {
        // Send a request to the server to log the user out
        fetch('/logout', { method: 'GET' })
            .then(response => {
            if (response.ok) {
                // Redirect to the home page or any other desired page after logout
                window.location.href = '/';
            } else {
                console.error('Logout failed');
            }
            })
            .catch(error => console.error('Error during logout:', error));
        });
    }

    // this will be the prompt for you use to confirm the acc delete  /
    function confirmDelete() {
        const result = confirm("Are you sure you want to delete your profile?");
        if (result) {
            // If the user confirms, redirect to the deleteProfile route
            window.location.href = "/";
        } else {
            // If the user cancels, do nothing or provide feedback if needed
            console.log("Deletion canceled");
        }
    }
</script>

<%- include('partials/footer.ejs') %>
    <!-- give path for js -->